.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  background: #252426;
  width: 100%;
  margin-bottom: 30px;
  padding: 20px 20px;
  }  
    
.header-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logoIcon {
  width: 50px;
  height: 50px;
  color: #fff;
  margin-right: 10px;
}
.logoText {
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}