.card {
    box-shadow: 0 4px 8px 0 rgba(14, 14, 14, 0.726);
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    background: #252426;
    height: 100%;
    color: #fff;
    padding-bottom: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgb(0, 0, 0);
}

img {
    border-radius: 5px 5px 0 0;

}

.container {
    padding: 2px 16px;
}
.linkButton {
    background:none!important;
    color:inherit;
    border:none; 
    padding:0!important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}
.priceArea {
    padding: 2%;
    font-weight: bold;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    font-size: 19px;
    text-align: center;
    align-self: center;
    justify-self: center;
    justify-items: center;
}