.area{
    box-sizing: border-box;
}

.delMessage{
    color:green;
    font-weight: bold;
    float: left;
}
.unpublishB{
    background-color: #4CAF50;;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    color: #fff
}
.unpublishB:hover{
    background-color: rgba(255, 0, 0, 0.178);
}
.unpublishB:focus {
    outline: none;
    border:none
}
