.area{
    box-sizing: border-box;
}

.delMessage{
    color:green;
    font-weight: bold;
    float: left;
}
.unpublishB{
    background-color: rgba(189, 184, 184, 0.568);
    float: right;
    padding: 10px;
    text-decoration: none;
    color:black;
    font-weight: bold;
    margin-right: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
.unpublishB:hover{
    background-color: rgba(255, 0, 0, 0.178);
}
.unpublishB:focus {
    outline: none;
    border:none
}
