* {
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin-bottom: 10%;
}
.warningArea {
    height: 30px;
}
.warning {
    text-align: left;
    color: red;
}

.loginForm {
    color: #fff;
    background-color: #252426;
    width: 50vh;
    padding:30px;
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

.loginForm button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;

}

.loginForm button:hover {
    background: #fff;
    color: black;
    transition: all .3s ease-in-out;
}

.formButtonsContainer {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
